<<<<<<< HEAD
footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background:black;
}
.txtwhite{
    color: #fff;
=======
footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background:black;
}
.txtwhite{
    color: #fff;
}
.over{

>>>>>>> origin/master
}